In [1]:
import pandas as pd
from IPython.display import display
data = pd.read_excel('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/data/Fig3-1.xls', header=None)  
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2018.791667,174.056034,NaN,NaN,NaN,NaN,NaN,2018.791667,205.709,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.791667,252.885,BLS,NaN,NaN,NaN
860,2018.875,174.438912,NaN,NaN,NaN,NaN,NaN,2018.875,205.471,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.875,252.038,BLS,NaN,NaN,NaN
861,2018.958333,174.658876,NaN,NaN,NaN,NaN,NaN,2018.958333,205.073,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.958333,251.233,BLS,NaN,NaN,NaN
862,2019.041667,174.01623,NaN,NaN,NaN,NaN,NaN,2019.041667,204.708,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2019.041667,251.712,BLS,NaN,NaN,NaN
863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.125,252.776,BLS,NaN,NaN,NaN

In [2]:
data_file = pd.ExcelFile('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/data/Fig3-1.xls')  
data = pd.read_excel(data_file, header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2018.791667,174.056034,NaN,NaN,NaN,NaN,NaN,2018.791667,205.709,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.791667,252.885,BLS,NaN,NaN,NaN
860,2018.875,174.438912,NaN,NaN,NaN,NaN,NaN,2018.875,205.471,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.875,252.038,BLS,NaN,NaN,NaN
861,2018.958333,174.658876,NaN,NaN,NaN,NaN,NaN,2018.958333,205.073,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.958333,251.233,BLS,NaN,NaN,NaN
862,2019.041667,174.01623,NaN,NaN,NaN,NaN,NaN,2019.041667,204.708,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2019.041667,251.712,BLS,NaN,NaN,NaN
863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.125,252.776,BLS,NaN,NaN,NaN

In [3]:
data = pd.read_excel('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/data/Fig3-1.xls', ['Sheet1', 'Sheet2'])  
data

{'Sheet1':       Unnamed: 0 Unnamed: 1
 0            NaN        NaN
 1            NaN        NaN
 2            NaN   Consumer
 3            NaN      Price
 4            NaN      Index
 ..           ...        ...
 858  2018.791667    252.885
 859     2018.875    252.038
 860  2018.958333    251.233
 861  2019.041667    251.712
 862     2019.125    252.776

 [863 rows x 2 columns],
 'Sheet2':         CPI Annual&
 0         Quarterly
 1    Warren&Pearson
 2    Warren&Pearson
 3    Warren&Pearson
 4    Warren&Pearson
 ..              ...
 853             BLS
 854             BLS
 855             BLS
 856             BLS
 857             BLS

 [858 rows x 1 columns]}

In [4]:
data = pd.read_excel('http://www.econ.yale.edu/~shiller/data/Fig3-1.xls', header=None)  
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,2021.458333,213.586849,NaN,NaN,NaN,NaN,NaN,2021.458333,261.11,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2021.458333,261.582,BLS,NaN,NaN,NaN
892,2021.541667,215.873377,NaN,NaN,NaN,NaN,NaN,2021.541667,265.35,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2021.541667,263.014,BLS,NaN,NaN,NaN
893,NaN,1.71408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.625,264.877,BLS,NaN,NaN,NaN
894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,NaN,1.177299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = pd.read_excel("C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/data/nakladnaya.xls"
                     , header=None, skiprows=2)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
10,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
11,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
12,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
23,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data=data.dropna(how='all')
len(data)

15

In [7]:
data.iloc[0, 4][2:9]

'5764809'

In [8]:
display(data.iloc[6:8, [1, 2, 6, 9, 11, 12]])
display(data.iloc[6:8, :].dropna(axis=1, how='any'))
display(data.iloc[6:8, :].dropna(axis=1, how='all'))

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

%pip install xlsxwriter 

table.to_csv("table.csv")  

table.to_excel("table.xls")  

writer = pd.ExcelWriter('test.xlsx')  
table.to_excel(writer, index=False, sheet_name='Таблица')  
writer.save()  

workbook = writer.book  
worksheet = writer.sheets['Таблица'] 

money_fmt = workbook.add_format({'bold': True})  
name_fmt = workbook.add_format({'color': 'red'})  
  
worksheet.set_column('E:F', 20, money_fmt)  
worksheet.set_column(1, 1, 20, name_fmt) 

writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')