# Загрузка Pandas и очистка данных

In [10]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split
from ast import literal_eval

df = pd.read_csv('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/project_3/main_task.csv')

In [2]:
def price_rate(price):
    if price == "$":
        return 1
    elif price == "$$ - $$$":
        return 2
    elif price == "$$$$":
        return 3
    elif price == "":
        return NaN
df['Price Range'] = df['Price Range'].apply(price_rate)

In [3]:
df[['Ranking','Rating','Price Range','Number of Reviews']]=df[['Ranking','Rating','Price Range','Number of Reviews']].fillna(df.mean())
df["Cuisine Style"] = df.groupby("City")["Cuisine Style"].transform(lambda x: x.fillna("['Other']"))
df['cuisin_count'] = df['Cuisine Style'].str.split(', ').str.len()
df["Cuisine Style"] = df["Cuisine Style"].apply(literal_eval)
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisin_count
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,2.000000,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,3
1,id_1535,Stockholm,[Other],1537.0,4.0,1.814046,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1
2,id_352,London,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,3.000000,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,7
3,id_3456,Berlin,[Other],3458.0,5.0,1.814046,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1
4,id_615,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,2.000000,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,3
...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"[Italian, Vegetarian Friendly, Vegan Options, ...",500.0,4.5,2.000000,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,4
39996,id_6340,Paris,"[French, American, Bar, European, Vegetarian F...",6341.0,3.5,2.000000,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,5
39997,id_1649,Stockholm,"[Japanese, Sushi]",1652.0,4.5,1.814046,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,2
39998,id_640,Warsaw,"[Polish, European, Eastern European, Central E...",641.0,4.0,2.000000,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,5
39999,id_4824,Milan,[Spanish],4827.0,3.0,2.000000,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,1

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [4]:
df=df.drop(df.columns[[1,2,7,8,9]], axis=1)

In [5]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [6]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [7]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [9]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', round(metrics.mean_absolute_error(y_test, y_pred),5))

# 1rez = 0.42196, поменял Price Range
# 2rez = 0.41712, поменял пропуски в Cuisine Style на Other
# 3rez = 0.41309, добавил cuisin_count - количество кухни в ресторане

MAE: 0.41309